<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Rules for Code Analysis" ToolsVersion="16.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1009" Action="Warning" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1116" Action="Warning" />
    <Rule Id="SA1117" Action="Warning" />
    <Rule Id="SA1200" Action="None" />
    <Rule Id="SA1202" Action="Warning" />
    <Rule Id="SA1204" Action="Warning" />
    <Rule Id="SA1128" Action="Warning" />
    <Rule Id="SA1306" Action="Warning" />
    <Rule Id="SA1309" Action="Warning" />
    <Rule Id="SA1311" Action="Warning" />
    <Rule Id="SA1401" Action="Warning" />
    <Rule Id="SA1413" Action="None" />
    <Rule Id="SA1500" Action="Warning" />
    <Rule Id="SA1502" Action="Warning" />
    <Rule Id="SA1507" Action="Warning" />
    <Rule Id="SA1509" Action="Warning" />
    <Rule Id="SA1513" Action="Warning" />
    <Rule Id="SA1609" Action="None" />
    <Rule Id="SA1614" Action="Warning" />
    <Rule Id="SA1615" Action="Warning" />
    <Rule Id="SA1616" Action="Warning" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1629" Action="Warning" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1642" Action="Warning" />
    <Rule Id="SA1649" Action="Warning" />
    <Rule Id="SX1101" Action="None" />
    <Rule Id="SCS0005" Action="None" />
  </Rules>
  <Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
    <Rule Id="CC0031" Action="None" />
    <Rule Id="CC0057" Action="Info" />
    <Rule Id="CC0091" Action="Info" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
    <Rule Id="CA1008" Action="None" />
    <Rule Id="CA1040" Action="None" />
    <Rule Id="CA1054" Action="None" />
    <Rule Id="CA1055" Action="None" />
    <Rule Id="CA1063" Action="Info" />
    <Rule Id="CA1710" Action="None" />
    <Rule Id="CA1711" Action="None" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1822" Action="None" />
    <Rule Id="CA2007" Action="None" />
    <Rule Id="CA2227" Action="None" />
    <Rule Id="CA1720" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1056" Action="None" />
    <Rule Id="CA1031" Action="None" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1303" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.NetCore.Analyzers" RuleNamespace="Microsoft.NetCore.Analyzers">
    <Rule Id="CA1816" Action="None" />
    <Rule Id="CA2208" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp.Features" RuleNamespace="Microsoft.CodeAnalysis.CSharp.Features">
    <Rule Id="IDE0005" Action="Error" />
    <Rule Id="IDE1006" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.Analyzers" RuleNamespace="Microsoft.CodeAnalysis.Analyzers">
    <Rule Id="RS1022" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="CS0618" Action="Info" />
  </Rules>
</RuleSet>